*.pch

data/*.ai

dst
waf-*
waf3-*
.waf-*
.waf3-*
.lock*
build/
*.pyc
.DS_Store
*.autosave
node_modules

/.vscode/**/*.*
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/c_cpp_properties.json
!/.vscode/vscode.h

/libs/vstsdk2.4/
/libs/ASIOSDK/
/libs/eldb/*.dylib
/libs/eldb/*.dll
/libs/eldb/*.so
/libs/eldb/*.db
/libs/eldb/eldb

/delete.txt
/deploy/
/tools/deploy/
/tools/installers/
/plugins
/pro/

/*.gz
/*.bz2
/*.zip
/element-0.*
/*.AppImage

/tools/contrib/contrib
/tools/contrib/*.exe
/tools/linuxdeploy.sh
/data/Info.plist
/dist/

/*.lua

docs/_build/
