*.pch

project/Builds
project/JuceLibraryCode/ReadMe.txt
project/JuceLibraryCode/include_*.*
project/JuceLibraryCode/include_*.*
project/JuceLibraryCode/BinaryData*.*

plugins/Element/Builds
plugins/Element/JuceLibraryCode/ReadMe.txt
plugins/Element/JuceLibraryCode/include_*.*
plugins/Element/JuceLibraryCode/include_*.*
plugins/Element/JuceLibraryCode/BinaryData*.*

plugins/ElementFX/Builds
plugins/ElementFX/JuceLibraryCode/ReadMe.txt
plugins/ElementFX/JuceLibraryCode/include_*.*
plugins/ElementFX/JuceLibraryCode/include_*.*
plugins/ElementFX/JuceLibraryCode/BinaryData*.*

data/*.ai

dst
.waf-*
.lock*
build/
*.pyc
.DS_Store
*.autosave

/.vscode/**/*.*
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/c_cpp_properties.json
!/.vscode/vscode.h

/libs/vstsdk2.4/
/libs/eldb/*.dylib
/libs/eldb/*.dll
/libs/eldb/*.so
/libs/eldb/*.db
/libs/eldb/eldb

/delete.txt
/deploy/
/tools/deploy/
/tools/installers/
