<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>Element</Title>
    <Name>Element</Name>
    <Version>@VERSION@</Version>
    <Publisher>Kushview, LLC</Publisher>
    <ProductUrl>https://kushview.net/element/</ProductUrl>

    <StartMenuDir>Kushview</StartMenuDir>
    <TargetDir>@TARGETDIR@</TargetDir>
    <ControlScript>control.js</ControlScript>
    <MaintenanceToolName>updater</MaintenanceToolName>

    <InstallerApplicationIcon>@APPICON@</InstallerApplicationIcon>
    <!-- <InstallerWindowIcon>logo.png</InstallerWindowIcon> -->
    <Logo>logo.png</Logo>

    <RunProgram>@RUNPROGRAM@</RunProgram>

    <WizardDefaultWidth>782</WizardDefaultWidth>
    <WizardDefaultHeight>512</WizardDefaultHeight>

    <RepositorySettingsPageVisible>true</RepositorySettingsPageVisible>
    <RemoteRepositories>
        <!-- <Repository>
            <Url>@RELEASEREPO@</Url>
            <Enabled>1</Enabled>
            <DisplayName>Public</DisplayName>
        </Repository> -->
    </RemoteRepositories>
</Installer>
