<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>Element</Title>
    <Name>Element</Name>
    <Version>@VERSION@</Version>
    <Publisher>Kushview, LLC</Publisher>
    <StartMenuDir>Kushview</StartMenuDir>
    <TargetDir>@TARGETDIR@</TargetDir>
    <ControlScript>control.js</ControlScript>
    <MaintenanceToolName>updater</MaintenanceToolName>

    <WizardDefaultWidth>782</WizardDefaultWidth>
    <WizardDefaultHeight>512</WizardDefaultHeight>

    <RemoteRepositories>
        <Repository>
            <Url>@RELEASEREPO@</Url>
            <Enabled>1</Enabled>
            <DisplayName>Releases</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
