name: Release

on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version for manual testing'
        required: false

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Element v${{ github.event.inputs.version || github.ref_name }}
        tag_name: ${{ github.event.inputs.version || github.ref_name }}      
        draft: true
        generate_release_notes: true
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
