# SPDX-FileCopyrightText: Kushview, LLC
# SPDX-License-Identifier: CC0-1.0
name: REUSE compliance check
on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
